.recommended-flex{
    display: flex;
    margin-left: 20%;
    
}

.recommended-title{
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}